html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b71ad;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#board {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.topBar {
    width: 100%;
    margin: 0 auto;
    height: 32px;
    padding: 16px 8px;
    background-color: #095292;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    color: #eeeeee;
}

@media only screen and (max-device-width : 640px) {
    body {
        font-size: 18px;
    }
    #board {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}